.shape-container{
    width:var(--width);
    height:var(--height);
    position:'relative';
}
.progress-shape{
    stroke-width: var(--border); 
    position:relative;
    fill:transparent;
    stroke: var(--color);
    transform:translate(var(--x-translate),var(--y-translate));
    stroke-dasharray: 400%;
    stroke-dashoffset: var(--progress);
}
